/node_modules
/public/hot
/public/storage
/public/assets/lte
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/logs/laravel.log

storage/framework/views/

*.jpeg
*.web
*.jpg
*.pdf
*.png

public/act_dbf
public/documents
public/web.config
public/articulo.txt
.idea/blade.xml
.idea/laravel-idea.xml
